<!doctype html>
<html>
<head>
    <title>Healthcare</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel =" stylesheet" type = "text/css" href = "/stylesheets/style.css"/>

</head>
<body >
    <div id="header">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                     <a class="navbar-brand" href="/">Healthcare</a>
                     <a class="navbar-brand" href="/suckhoe">Chăm sóc sức khỏe</a>
                     <a class="navbar-brand" href="/lichkham">Lịch khám</a>
                     <a class="navbar-brand" href="/phongkham">Phòng khám</a>
                <ul class="nav navbar-nav">
                    <li style="margin-left: 1000px;color: white;">
                        <a href="/dangnhap"> Đăng nhập</a>
                    </li>
                    <li>
                        <a href="/dangki"> Đăng kí</a>
                    </li>
                </ul>
            </nav>
        </div>
    <h2 > <center>Chăm sóc sức khỏe </center></h2>
    <div id = "wrapper" >
            	<div id = "left">
                	<div id = "menu-left">
                    	<ul>
                        	<li><a href = "#">Thực phẩm tốt</a>
                            	<ul class = "submenu1">
                                	<li><a href = "#">Các bài mới nhất</a></li>
                                    <li><a href = "#">Các bài được xem nhiều nhất</a></li>
                                </ul>
                            </li>
                            <li><a href = "#">Sức khỏe cho mẹ và bé</a>
                            	<ul class = "submenu1">
                                	<li><a href = "#">Các bài mới nhất</a></li>
                                    <li><a href = "#">Các bài được xem nhiều nhất</a></li>
                                </ul>
                            </li>
    						<li><a href = "#">Chế độ dinh dưỡng</a>
    							<ul class = "submenu1">
                                	<li><a href = "#">Các bài mới nhất</a></li>
                                    <li><a href = "#">Các bài được xem nhiều nhất</a></li>
                                </ul>
                        </ul>
                    </div>
                </div>


                <div id = "main">
                <div id ="main-right">
                    <ul>
                       <a href = "#"> Chăm sóc sức khỏe sinh sản ở phụ nữ </a> <br>
                       <a href = "#"> link... </a><br>
                       <a href = "#"> link...</a><br>
                    <ul>
                    </div>
            </div>

</div>





</body>
</html>
