<!doctype html>
<html>
<head>
    <title>Healthcare</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>body{
            background-image: url(bgr.png);
            background-size: cover;

        }
        </style>
</head>
<body background="bgr.png">
    <div id="header">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <a class="navbar-brand" href="/">Healthcare</a>
            <ul class="nav navbar-nav">
                <li style="margin-left: 1000px;color: white;">
                    <a href="/dangnhap"> Đăng nhập</a>
                </li>
                <li>
                    <a href="/dangki"> Đăng kí</a>
                </li>
            </ul>
        </nav>
    </div>
    <h3 style="color: red;"><center>Vì an toàn của mẹ và sức khỏe của trẻ hãy đi khám đúng hạn!!!</h3></center>
    <br>
    <div id="content">
        <div class="header-funnel-b">

        </div>

    </div>
</div>





</body>
</html>
