<!doctype html>
<html>
<head>
    <title>Healthcare</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>body{
            background-image: url(bgr.png);
            background-size: cover;

        }
        </style>
</head>
<body background="bgr.png">
    <div id="header">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <a class="navbar-brand" href="/">Healthcare</a>
            <a class="navbar-brand" href="/suckhoe">Sức khỏe</a>
            <ul class="nav navbar-nav">
                <li style="margin-left: 1000px;color: white;">
                    <a href="/dangnhap"> Đăng nhập</a>
                </li>
                <li>
                    <a href="/dangki"> Đăng kí</a>
                </li>
            </ul>
        </nav>
    </div>
    <h3 style="color: red;"><center>Vì an toàn của mẹ và sức khỏe của trẻ hãy đi khám đúng hạn!!!</h3></center>
    <br>
    <div id="content">
        <div class="header-funnel-b">
            <div class="row" >
                <div class="col-md-4  text-center " style="color: blue;">
                    <img src="trust.png" alt="trust" class="img-circle" height="300" width="300">
                    <h3>Uy tín</h3>
                    <p>Chúng tôi cam kết đem lại những lời khuyên bổ ích cùng những dịch vụ hợp lí và chính xác dành cho bạn</p>



                </div>
                <div class="col-md-4  text-center " style="color: black;">
                    <img src="fast.png" alt="fast" class="img-circle" height="300" width="300">
                    <h3>Nhanh chóng</h3>
                    <p>Luôn luôn sẵn sàng phục vụ yêu cầu lên lịch khám thai của bạn một cách nhanh chóng nhất</p>
            </div>
            <div class="col-md-4  text-center " style="color: green;">
                    <img src="tienloi.png" alt="trust" class="img-circle" height="300" width="300">
                    <h3>Tiện lợi</h3>
                    <p>Được tích hợp nhiều chức năng cần thiết và phù hợp dành cho người đang có thai và cần 1 chương trình gợi ý lịch khám thích hợp</p>
            </div>
        </div>

    </div>
</div>


    


</body>
</html>
