
#header{
    margin-bottom: -15px;
}

#wrapper{
    width:100%;
    position: relative;
    min-width: 500px;
    margin:auto;
    height:100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#left {
    width:25%;
    min-width : 120px;
    height: 800px;
    background-color:#FFF;
    float:left;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background-color:#DDEEB7;
    margin-right: 10px;
}

#menu-left{
    width:90%;
    margin: 10px 0px 0px 14px;
    border:1px solid #000;
    border-radius:8px;
    background-color: #F0F7CE;
}

#menu-left >ul{
    list-style-type:none;
    padding:10px 10px 20px 20px;
}

#menu-left ul li{
    list-style-type:none;
}

#menu-left ul li a{
    text-decoration:none;
}

#menu-left li{
    line-height:30px; /*khoang cach giua cac the li voi nhau*/
}

#menu-left >ul>li{
    border-bottom:1px solid #CCC;
}
h2 center{
    background-color: #F0F7CE;
}
#main {
    width: 73%;

    height: 800px;
    background-color: #F0F7CE;
    float: left;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#main-right{
    width:90%;
    margin: 20px 0px 0px 14px;
    background-color: #F0F7CE;
}

.navbar-brand{
    font-size:15px;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 70%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

.link{
  transition: 0.3s ease;
  background: #F0F7CE;
  color: black;
  
  text-decoration: none;
  border-left: 4px solid #F0F7CE;
  border-right: 4px solid #F0F7CE;
  padding:  0 10px;
  margin-bottom:20px;
}
/*nguồn : google hover effect*/
.link:hover {
  border-left: 4px solid black;
  border-right: 4px solid black;
  padding: 6px 0;
}
