<!doctype html>
<html>
<head>
    <title>Chăm sóc sức khỏe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel =" stylesheet" type = "text/css" href = "/stylesheets/style.css"/>

</head>
<body >
    <div id="header">
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                     <a class="navbar-brand" href="/">Healthcare</a>
                     <a  class="navbar-brand" href="/suckhoe">Chăm sóc sức khỏe</a>
                     <a class="navbar-brand" href="/lichkham">Lịch khám</a>
                     <a class="navbar-brand" href="/phongkham">Phòng khám</a>
                <ul class="nav navbar-nav">
                    <li style="margin-left: 400px;color: white;">
                        <a href="/profile"> Chào bạn <%= user.account.email %></a>
                    </li>
                    <li>
                        <a href="/logout"> Thoát</a>
                    </li>
                </ul>
            </nav>
        </div>
    <h2 > <center>Chăm sóc sức khỏe </center></h2>
    <div id = "wrapper" >
            	<div id = "left">
                	<div id = "menu-left">
                    	<ul>
                        	<li><img class = "icon" src="/image/food.png" /><a class="link" href = "#">Thực phẩm tốt</a>
                                <ul class = "submenu1">
                                    <li><img class = "icon" src="/image/new.png" /><a class="link" href = "/suckhoe/food-new">Các bài mới nhất</a></li>
                                    <li><img class = "icon" src="/image/best.png" /><a class="link" href = "/suckhoe/food-most">Các bài được xem nhiều nhất</a></li>
                                </ul>
                            </li>
                            <li><img class = "icon" src="/image/protect.png" /><a class="link" href = "#">Sức khỏe cho mẹ và bé</a>
                                <ul  class = "submenu1">
                                    <li><img class = "icon" src="/image/new.png" /><a class="link" href = "/suckhoe/health-new">Các bài mới nhất</a></li>
                                    <li><img class = "icon" src="/image/best.png" /><a class="link" href = "/suckhoe/health-most">Các bài được xem nhiều nhất</a></li>
                                </ul>
                            </li>
                            <li><img class = "icon" src="/image/info.png" /><a class="link" href = "#">Chế độ dinh dưỡng</a>
                                <ul  class = "submenu1">
                                    <li><img class = "icon" src="/image/new.png" /><a class="link" href = "/suckhoe/cddd-new">Các bài mới nhất</a></li>
                                    <li><img class = "icon" src="/image/best.png" /><a class="link" href = "/suckhoe/cddd-most">Các bài được xem nhiều nhất</a></li>
                                </ul>
                        </ul>
                    </div>
                </div>


                <div id = "main">
                <div id ="main-right">
                    <ul>
                       <li><a class="link2" href = "http://kienthucgioitinh.org/dau-hieu-phat-hien-viem-buong-trung-som-nhat.html">Dấu hiệu phát hiện viêm buồng trứng sớm nhất</a></li>
                        <li><a class="link2" href = "http://kienthucgioitinh.org/nhung-dau-hieu-nhan-biet-buong-trung-da-nang.html">Những dấu hiệu nhận biết buồng trứng đa nang</a></li>
                        <li><a class="link2" href = "http://kienthucgioitinh.org/phu-nu-mac-ung-thu-vu-co-mang-thai-duoc-khong.html">Những dấu hiệu nhận biết buồng trứng đa nang </a></li>
                        <li><a class="link2" href = "http://kienthucgioitinh.org/dau-bung-kinh-co-gay-vo-sinh-hiem-muon.html">Những dấu hiệu nhận biết buồng trứng đa nang </a></li>
                        <li><a class="link2" href = "http://kienthucgioitinh.org/bi-viem-am-dao-co-quan-he-tinh-duc-duoc-khong.html">Bị viêm âm đạo có quan hệ tình dục được không? </a></li>
                        <li><a class="link2" href = "http://kienthucgioitinh.org/cach-theo-doi-va-kiem-tra-dich-nhay-tu-cung-de-mang-thai-hoac-tranh-thai-hieu-qua.html">Cách theo dõi và kiểm tra dịch nhầy tử cung để mang thai hoặc tránh thai hiệu quả </a></li>
                        <li><a class="link2" href = "http://kienthucgioitinh.org/mau-bao-thai-xuat-hien-khi-nao-sau-quan-he-bao-lau-thi-xuat-hien-mau-bao-thai.html">Máu báo thai xuất hiện khi nào? Sau quan hệ bao lâu thì xuất hiện máu báo thai </a></li>
                        <li><a class="link2" href = "http://kienthucgioitinh.org/huong-dan-cach-phan-biet-mau-bao-thai-va-mau-kinh.html">Hướng dẫn cách phân biệt máu báo thai và máu kinh </a></li>
                        <li><a class="link2" href = "http://kienthucgioitinh.org/14-tuoi-chua-co-kinh-nguyet-co-anh-huong-gi-khong.html">14 tuổi chưa có kinh nguyệt, có ảnh hưởng gì không? </a></li>

                    </ul>
                    </div>
            </div>

</div>
</body>
</html>
