<!doctype html>
<html>
<head>
    <title>Chăm sóc sức khỏe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel =" stylesheet" type = "text/css" href = "/stylesheets/style.css"/>

</head>
<body >
    <div id="header">
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                     <a class="navbar-brand" href="/">Healthcare</a>
                     <a  class="navbar-brand" href="/suckhoe">Chăm sóc sức khỏe</a>
                     <a class="navbar-brand" href="/lichkham">Lịch khám</a>
                     <a class="navbar-brand" href="/phongkham">Phòng khám</a>
                <ul class="nav navbar-nav">
                    <li style="margin-left: 600px;color: white;">
                        <a href="/profile"> Chào bạn <%= user.account.email %></a>
                    </li>
                    <li>
                        <a href="/logout"> Thoát</a>
                    </li>
                </ul>
            </nav>
        </div>
    <h2 > <center>Thực phẩm tốt</center></h2>
    <div id = "wrapper" >
                <div id = "left">
                    <div id = "menu-left">
                        <ul>
                            <li><img class = "icon" src="/image/food.png" /><a class="link" href = "#">Thực phẩm tốt</a>
                                <ul class = "submenu1">
                                    <li><img class = "icon" src="/image/new.png" /><a class="link" href = "/suckhoe/food-new">Các bài mới nhất</a></li>
                                    <li><img class = "icon" src="/image/best.png" /><a class="link" href = "/suckhoe/food-most">Các bài được xem nhiều nhất</a></li>
                                </ul>
                            </li>
                            <li><img class = "icon" src="/image/protect.png" /><a class="link" href = "#">Sức khỏe cho mẹ và bé</a>
                                <ul  class = "submenu1">
                                    <li><img class = "icon" src="/image/new.png" /><a class="link" href = "/suckhoe/health-new">Các bài mới nhất</a></li>
                                    <li><img class = "icon" src="/image/best.png" /><a class="link" href = "/suckhoe/health-most">Các bài được xem nhiều nhất</a></li>
                                </ul>
                            </li>
                            <li><img class = "icon" src="/image/info.png" /><a class="link" href = "#">Chế độ dinh dưỡng</a>
                                <ul  class = "submenu1">
                                    <li><img class = "icon" src="/image/new.png" /><a class="link" href = "/suckhoe/cddd-new">Các bài mới nhất</a></li>
                                    <li><img class = "icon" src="/image/best.png" /><a class="link" href = "/suckhoe/cddd-most">Các bài được xem nhiều nhất</a></li>
                                </ul>
                        </ul>
                    </div>
                </div>


                <div id = "main">
                <div id ="main-right">
                    <ul>
                        <li><a class="link2" href = "http://suckhoe.vnexpress.net/tin-tuc/dinh-duong/5-ly-do-khoai-tay-duoc-coi-la-thuc-pham-tuyet-voi-3410304.html">5 lý do khoai tây được coi là thực phẩm tuyệt vời</a></li>
                        <li><a class="link2" href = "http://suckhoe.vnexpress.net/tin-tuc/dinh-duong/thuc-don/10-thuc-pham-khong-nen-bo-qua-khi-chuyen-mua-3301883.html">10 thực phẩm không nên bỏ qua khi chuyển mùa</a></li>
                        <li><a class="link2" href = "http://suckhoe.vnexpress.net/tin-tuc/dinh-duong/thuc-hu-cong-dung-than-ky-cua-ca-chua-den-3296061.html">Thực hư 'công dụng thần kỳ' của cà chua đen</a></li>
                        <li><a class="link2" href = "http://suckhoe.vnexpress.net/tin-tuc/dinh-duong/nen-an-bao-nhieu-rau-cu-qua-moi-ngay-3287252.html">Nên ăn bao nhiêu rau củ quả mỗi ngày</a></li>

                    </ul>
                    </div>
            </div>

</div>
</body>
</html>
