<!doctype html>
<html>
<head>
    <title>Gợi ý phòng khám</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel =" stylesheet" type = "text/css" href = "/stylesheets/style.css"/>

</head>
<body >
    <div id="header">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
           <a class="navbar-brand" href="/">Healthcare</a>
           <a class="navbar-brand" href="/suckhoe">Chăm sóc sức khỏe</a>
           <a class="navbar-brand" href="/lichkham">Lịch khám</a>
           <a class="navbar-brand" href="/phongkham">Phòng khám</a>
           <ul class="nav navbar-nav">
            <li style="margin-left: 600px;color: white;">
                <a > Chào bạn ......</a>
            </li>
            <li>
                <a href="/logout"> Thoát</a>
            </li>
        </ul>
    </nav>
</div>
<h2 > <center>Phòng khám </center></h2>
<div id = "wrapper" >
   <div id = "left">
       <div id = "menu-left">
           <ul>
               <li><a href = "/phongkham">Phòng khám</a>
                   <ul class = "submenu1">
                       <li><a href = "/phongkham/lichsuphong">Lịch sử phòng khám</a></li>
                       <li><a href = "/phongkham/goiyphong">Gợi ý phòng khám</a></li>
                   </ul>
               </li>

           </ul>
       </div>
   </div>


   <div id = "main">
    <table class="contactform">
     <div class="form-friend">
        <tr>
         <th><label>Thành phố</label> </th>
         <td><input type="text"   name="thanhpho"></td>
     </tr>
     <tr>
       <th><label>Quận</label> </th>
       <td><input type="text"  size="40" name="noikham"> </td>
   </tr>
   <tr>
       
       <td><button>Tìm</button> </td>
   </tr>
</div>
</table>  
<br>
<h2>Thông tin phòng khám</h2>
<p>..........</p>
<p>..........</p>
<p>..........</p>
<p>..........</p>
<strong>Bản đồ</strong><br>
<div class="col-sm-5 col-sm-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">

            <br><br><br><br>
            <h2> GOOGLE MAPS</h2>
            <br><br><br><br>
            

        </div>
    </div>
</div>
</div>

</div>










</body>
</html>
