<!doctype html>
<html>
<head>
    <title>Lịch sử phòng khám</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel =" stylesheet" type = "text/css" href = "/stylesheets/style.css"/>

</head>
<body >
    <div id="header">
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                     <a class="navbar-brand" href="/">Healthcare</a>
                     <a class="navbar-brand" href="/suckhoe">Chăm sóc sức khỏe</a>
                     <a class="navbar-brand" href="/lichkham">Lịch khám</a>
                     <a class="navbar-brand" href="/phongkham">Phòng khám</a>
                <ul class="nav navbar-nav">
                    <li style="margin-left: 600px;color: white;">
                        <a href="/profile"> Chào bạn <%= user.account.email %></a>
                    </li>
                    <li>
                        <a href="/logout"> Thoát</a>
                    </li>
                </ul>
            </nav>
        </div>
    <h2 > <center>Phòng khám </center></h2>
    <div id = "wrapper" >
            	<div id = "left">
                	<div id = "menu-left">
                    	<ul>
                        	<li><img class = "icon" src="/image/map.png" /><a class="link" href = "/phongkham">Phòng khám</a>
                            	<ul class = "submenu1">
                                	<li><a class="link" href = "/phongkham/lichsuphong">Lịch sử phòng khám</a></li>
                                    <li><a class="link" href = "/phongkham/goiyphong">Gợi ý phòng khám</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>


                <div id = "main">
                <div id ="main-right">
                        <h3> Danh sách phòng khám </h3>
                        <table border="1" >
                            <tr>
                                <td cols="50">
                                    Ngày khám
                                </td>
                                <td>
                                    Địa điểm
                                </td>
                                <td>
                                    Nội dung khám
                                </td>
                                <td>
                                    Đánh giá
                                </td>
                            </tr>
                        </table>

            </div>

</div>





</body>
</html>
