<!doctype html>
<html>
<head>
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel =" stylesheet" type = "text/css" href = "/stylesheets/style.css"/>

</head>
<body >
    <div id="header">
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                     <a class="navbar-brand" href="/">Healthcare</a>
                     <a class="navbar-brand" href="/suckhoe">Chăm sóc sức khỏe</a>
                     <a class="navbar-brand" href="/lichkham">Lịch khám</a>
                     <a class="navbar-brand" href="/phongkham">Phòng khám</a>
                <ul class="nav navbar-nav">
                    <li style="margin-left: 600px;color: white;">
                        <a href="/profile"> Chào bạn <%= user.account.email %></a>
                    </li>
                    <li>
                        <a href="/logout"> Thoát</a>
                    </li>
                </ul>
            </nav>
        </div>
    <h2 > <center>Thông tin cá nhân </center></h2>
    <div id = "wrapper" >
            	<div id = "left">
                	<div id = "menu-left">
                    	<ul>
                        	<li><img class = "icon" src="/image/account.png" /><a class="link" href = "/profile">Thông tin cá nhân</a>
                            	<ul class = "submenu1">
                                	<li><a class="link" href = "/profile">Tài khoản</a></li>
                                    <li><a class="link" href = "/lichkham/lichsukham">Lịch sử khám</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>


                <div id = "main">
                <div id ="main-right">
                    <ul>
                       <p> Email đăng kí:</p>
                       <p> Mật khẩu: </p>
                       <p> Họ tên: </p>
                       <p> Ngày sinh: </p>
                       <p> Địa chỉ: </p>
                       <p> Số điện thoại: </p>
                       <p> Ngày mang thai: </p>
                       <p> Ngày sinh dự đoán: </p>  
                       
                    <ul>
                    </div>
            </div>

</div>





</body>
</html>
