<!doctype html>
<html>
<head>
    <title>Lịch khám</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel =" stylesheet" type = "text/css" href = "/stylesheets/style.css"/>

</head>
<body >
    <div id="header">
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                     <a class="navbar-brand" href="/">Healthcare</a>
                     <a class="navbar-brand" href="/suckhoe">Chăm sóc sức khỏe</a>
                     <a class="navbar-brand" href="/lichkham">Lịch khám</a>
                     <a class="navbar-brand" href="/phongkham">Phòng khám</a>
                <ul class="nav navbar-nav">
                    <li style="margin-left: 600px;color: white;">
                        <a > Chào bạn ......</a>
                    </li>
                    <li>
                        <a href="/logout"> Thoát</a>
                    </li>
                </ul>
            </nav>
        </div>
    <h2 > <center>Lịch khám </center></h2>
    <div id = "wrapper" >
            	<div id = "left">
                	<div id = "menu-left">
                    	<ul>
                        	<li><img class = "icon" src="/image/schedule.png" /><a class="link" href = "/lichkham">Lịch khám</a>
                            	<ul class = "submenu1">
                                	<li><a class="link" href = "/lichkham/lichsukham">Lịch sử khám</a></li>
                                    <li><a class="link" href = "/lichkham/themlichmoi">Thêm lịch mới</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>


                <div id = "main">
                    <div id ="main-right">

                        <form method="post" action="/users/friend">
                           <table class="contactform"
                               <div class="form-friend">
                                    <tr>
                                       <th><label>Ngày giờ khám</label> </th>
                                       <td><input type="date"   name="ngaykham"></td>
                                    </tr>
                                    <tr>
                                         <th><label>Nơi khám</label> </th>
                                         <td><input type="text"  size="40" name="noikham"> </td>
                                    </tr>
                                   <tr>
                                        <th><b>Nội dung khám<b> </h5> </th>
                                        <td><textarea name = "textmess" id = "textmess" rows='6', cols='50' placeholder = "Nhập nội dung..."></textarea> </td>
                                    </tr>
                               </div>

                            </table>
                        </form>
                    </div>
                </div>

</div>





</body>
</html>
